@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cell {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(203, 37, 156, 0.671);
    box-shadow: 4px -40px 60px 5px rgb(40, 37, 203) inset;
}